@font-face {
    font-family: 'Fuente_titulo';
    src: url('./fonts/Ungai.otf');
    font-style: normal;
    font-weight: 400;
  }

@font-face {
    font-family: 'Fuente_texto';
    src: url('./fonts/SegUIVar.ttf');
    font-style: normal;
    font-weight: 320;
  }

  
@font-face {
    font-family: 'Fuente_texto_bold';
    src: url('./fonts/Segoe UI Bold.ttf');
    font-style: extra-bold;
    font-weight: 900;
  }


  *{
    padding:00;
    margin:0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
a{text-decoration: none !important;}

[class*= "col-"]{
    float:left;
    padding:0;
    margin:0;
}

html,body{
    max-width: 100%;
    overflow-x:hidden;
}

body{zoom:90%;}
.container-fluid{
    position:relative;
    padding:0px !important;
    margin:0px !important;
}

.fila{
    position:relative;
    margin:auto;
    width: 100%;
    height: auto;
    clear:both;
    display:table;
}

body{overflow-x:hidden;}
a:hover{text-decoration: none;} a{text-decoration: none;}


/*Empieza aqui*/



.titulo-japon{
    font-family: 'Fuente_titulo';    
    font-weight: 800;
    font-size: 100px;
    color:#413c3c;
}

.titulo-japon-2{
    font-family: 'Fuente_titulo';    
    font-weight: 800;
    font-size: 60px;
    color:#413c3c;
    justify-content: center;
    text-align: center;
}


.titulotexto{
    font-family: 'Fuente_texto';  
    font-size: 15px;
    color:#413c3c;
}

.titulotexto:hover{
    color:#413c3c;
}

.botonestatico .titulotexto:hover{
    color:white !important;
}
strong{ 
    /*font-weight: bold ;*/
    color:#f54545;
    font-weight: 590 !important;
}

.titulotexto-sub{
    font-family: 'Fuente_texto_bold';
    font-weight: 900;
    font-size: 11px;
    color:#413c3c;
}

.titulotexto-sub-2{
    font-family:'Fuente_texto_bold';
    font-weight: 900;
    font-size: 11px;
    color:#413c3c;
    justify-content: center;
    text-align: center;
}

.titulotextoprecio{
    font-family:'Fuente_texto';
    font-size: 12px;
    color:#413c3c;
}

.textoaviso{
    font-family: 'Fuente_texto';  
    font-size: 15px;
    color:#f54545;
    line-height: 350px;
    text-align:center;

}



/*NAVBAR*/

.nav{
    position: fixed;
    top:0;
    height: 40px;
    width: 100%;
    background-color: white;
    filter: opacity(96%);
    justify-content: center !important;
    z-index:99;
}
.nav li{
    align-items: center;
    margin-left:60px !important;
    font-weight: 400;
    text-decoration: none !important;
    line-height: 40px;
}

.nav li a{
    text-decoration: none !important;
    color:#413c3c;
}


#o{
    margin-top: 13px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color:#f54545;
}

/*DISTANCIAS*/

#kaizen{
    margin-top:90px;
}

.bloque-titulaciones{
    margin-top:35px;
}

.bloque-gacharu{
    margin-top:35px;
}

.bloque-kotodama{
    margin-top:25px;
}

#Gaman{
    margin-top:50px;
}

#separacion-imagen{
    margin-top: 20%;
}

#Komakai{
    padding-top:30px ;
}

#Ganharu{
    padding-top:70px ;
}

#Kotodama{
    padding-top:80px ;
}

#Agatsu{
    padding-top:80px ;
}

.mg-5{
    margin-top:30px;
}

.bloqueavisoform{
    position:absolute;
    margin-top:50px;
    margin-left: 5%;
    width: 90%;
    height: 350px;
    background-color: white;
    filter: opacity(86%);
    border-radius: 1.2%;
    animation: fadein 0.5s;
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    20%{
        opacity:0.15;
    }
    30%{
        opacity:0.3;
    }
    40%{
        opacity:0.4;
    } 
    50%{
        opacity:0.5;
    }
    60%{
        opacity:0.6;
        }
    70%{
        opacity:0.7;
    }
    80%{
        opacity:0.8;
    }
    90%{
        opacity:0.9;
    }
    100% {
    opacity:1;
    }
   }



/*scroll titulaciones y bloques grises*/

.scroll-titulos{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 450px;
    width: 90%;
    margin:0 auto;
    border: 0.1px solid #68686928;
    border-radius: 1.2%;
}

.scroll-titulos2{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    width: 90%;
    margin:0 auto;
    border: 0.1px solid #68686928;
    border-radius: 1.2%;
}

.scroll-titulos::-webkit-scrollbar{
    width: 7px;
    background-color: rgba(255, 255, 255, 0);
    cursor:default;
}
.scroll-titulos::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
    cursor:default;
    width: 10px;
}
.scroll-titulos::-webkit-scrollbar-thumb{
    border-radius: 480px;
    background-color: #686869;
    cursor:default;
}
.scroll-titulos::-webkit-scrollbar-thumb:hover{
    background-color: #f54545;
}
.scroll-titulos::-webkit-scrollbar-thumb:active{
    background-color: #f54545;
}




.texto-enlace{
    text-decoration: none !important;
    color:#413c3c;
    padding: 0px 8px 1px 8px !important;
}

.texto-enlace:hover{
    text-decoration: none !important;
    color:#f54545;
}

.li-titulo{
    position:sticky;
    top:0;
    background-color: white;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.bloque-titulaciones-2{
    margin-top:5px !important;
    margin-bottom: 50px !important;
    height: 30px;
    width: 90%;
    margin:0 auto;
    border: 0.1px solid #68686928;
    border-radius: 2%;
    padding-left: 33px ;
}

.textodiplomaturas-2{
    margin-right: 10px;;
}

.bloque-individual{
    margin: 5px 10px 50px 10px !important;
    height: 90%;
    /*border: 0.1px solid #68686928;*/
    border-radius: 2%;
    padding: 0 2% 0 2% ;
}

.bloque-individual-2{
    margin: 5px 10px 5px 10px !important;
    height: 100%;
    border: 0.1px solid #68686928;
    border-radius: 1%;
    padding: 0 2% 20px 2% ;
}

.bloque-individual-2:hover{
    border: 0.1px solid #f54545;
}

.master{
    line-height: 28px !important;
}


/*scroll*/

::-webkit-scrollbar{
    width: 7px;
    background-color: white;
    cursor:default;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px white;
    border-radius: 0px;
    background-color: white;
    cursor:default;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 480px;
    background-color: #686869;
    cursor:default;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #f54545;
}
::-webkit-scrollbar-thumb:active{
    background-color: #f54545;
}



/*loader*/

.seccion-loader{
    margin-top:28%;
}

.seccion-loader-2{
    margin-top:5%;
    margin-bottom: 10%;
}

.loading{
    margin-top:10px;
    text-align: center;
}

.loaderimg{
    
    width: 50px;
    animation: rotation 2s infinite linear;
    display:block;
    margin:auto;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


/*imagenes*/

.imagenkaizen{
    width: 80%;;
    display:block;
    margin:auto;
}

.imagenkotodama{
    width: 70%;
    display:block;
    margin:auto;
    margin-top: 30px;
}

.imagenganharu{
    height: 500px;
    display:block;
    margin:auto;
}
.gamanimg{
    width: 520px;
    height: 505px;
    display:block;
    margin:auto;
}

.komakaiimg{
    height: 150px;
    display:block;
    margin:auto;
    padding-left: 0px !important;
}

.ganharuimg{    
    height: 40px;
    display:block;
    margin:auto;
    padding-left: 0px !important;
}

.styled__Container-sc-z37tf1-0 .tBKau .tally-powered{
    display:none !important;
}

.divbotonsocial{   
    width: 30px;
    height: 30px;    
    background-color: white;
    border-radius: 100%;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out 0s;
    border: #413c3c 1px solid;
}

.botonsocial{
    font-size: 20px;
color:#413c3c !important;
    margin-left:4.5px;
    line-height:25px; 
    text-align: center;
}

.botonsocial:hover¨{
    color:#413c3c !important;
}

.divbotonsocial:hover{
    color:#413c3c  !important;
    transform: rotate(-35deg);
    transition: all 0.3s ease-in-out 0s;
}

.divbotonsocial:active{
color:#413c3c  !important;
}

.logojapondesigner{
    width: 250px;
}

.bloque-formulario{
    position:relative;
}



/*App precios*/

.precio{
    top:0;
    margin-top: 0;
    text-align: center !important;
    font-size: 100px !important;
}

.precioeuro{
    font-size: 25px !important;
}

.precioanual{
    font-size: 10px !important;
}

.pagomensual{
    top:0;
    padding: 0px;
    margin-top: -30px;
    margin-bottom: 25px;
    text-align: center !important;
    font-size: 15px !important;
}

.botonestatico{
    width: 100%;
    height: auto;
    border-radius: 100px;
    background-color:#ffffff;
    border: 0.1px solid #686869a8;
    margin-bottom: 10px;
    padding: 2px ;
    transition: all 0.25s ease-in-out 0s;
    text-align: center;
}

.botonestatico:active{
    border: 0.1px solid #f54545;
    background-color:#f54545;
    color:white !important;
}

.botonoff{
    width: 100%;
    height: auto;
    border-radius: 100px;
    background-color:#ffffff;
    border: 0.1px solid #686869a8;
    margin-bottom: 10px;
    padding: 2px ;
    transition: all 0.25s ease-in-out 0s;
}

.botonoff:hover{
    color:#413c3c;
}

.botonon:hover{
    color:#ffffff;
}


.botonon{
    width: 100%;
    height: auto;
    border-radius: 100px;
    border: 0.1px solid #f54545;
    background-color:#f54545;
    color:white;
    margin-bottom: 10px;
    padding: 2px ;
    line-height: auto;
    transition: all 0.25s ease-in-out 0s;
}

.puntos{
    list-style:circle !important;
    font-size: 12px;
    margin-top: -10px;
}


/*formulario*/

.input{
    border: 0.1px solid #686869a8;
    border-radius:15px;
    height: 35px;
    padding-left: 15px;
}

.inputtarea{
    border: 1px solid #686869a8;
    border-radius:15px;
    height: 150px;
    padding-left: 15px;
}

label{
    margin-top: 20px !important;
    margin-bottom: 5px!important;
}

.botonformulario{
    background-color: #f54545;
    color:white;
    border: 1px solid #f54545;
    border-radius:15px;
    font-family: 'Fuente_texto';  
    font-size: 10px;
    height: 30px;
    line-height: 15px;;
    margin-top:20px;
    letter-spacing: 0.7vw;
}
