
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <title>japondesigner</title>
    <link rel="icon" type="image/x-icon" href="./media/favicon.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>

    <div class="container-fluid">

      
      <ul class="nav col-12">
        <li><a class="titulotexto">J</a></li>
        <li><a  class="titulotexto">A</a></li>
        <li><a class="titulotexto">P</a></li>
        <li><a href="#Kotodama"><div id="o"></div> </a></li>
        <li><a class="titulotexto">N</a></li>
        <li><a class="titulotexto">D</a></li>
        <li><a class="titulotexto">E</a></li>
        <li><a class="titulotexto">S</a></li>
        <li><a class="titulotexto">I</a></li>
        <li><a class="titulotexto">G</a></li>
        <li><a class="titulotexto">N</a></li>
        <li><a class="titulotexto">E</a></li>
        <li><a class="titulotexto">R</a></li>
      </ul>

  </div>
    <div class="container">











<!--1º Bloque-->

  <div class="col-12 d-lg-flex flex-lg-row-reverse" id="kaizen">
    <br>
    <br>

    <div class="col-12 col-lg-6 " >
      <img src="./media/COLOR.png" alt="" class="imagenkaizen">
    </div>
     
  <div class="col-12 col-lg-6 ">
  <p class="titulotexto" id="separacion-imagen">Empezaré por decir que me considero un diseñador de experiencias...</p>
  <h1 class="titulo-japon"> KAIZEN</h1>
  <p class="titulotexto-sub">❝La mejora que se persigue en todo momento.❞</p>

  <p class="titulotexto">Todos hemos visto alguna vez una película japonesa de maestro y aprendiz, en la que uno de los aprendices termina dedicando todo su tiempo y esfuerzo para entender un concepto con el que salva Japón de unos ninjas. En el diseño ocurre lo mismo, todos tenemos un ordenador en nuestra casa pero eso no nos convierte en diseñadores.</p>
  <p class="titulotexto">El diseño es como el aprendiz, <strong>por cada enseñanza</strong> hay que dedicar todo tu tiempo, afecto, conocimiento y sensibilidad para profesionalizar el gusto hasta convertirse en un diseñador maestro.</p>
</div>


    <div >

 
    </div>
  </div>

<br>










<!--2º Bloque-->
<!--subimos la imagen a airtable, le damos a share para hacerlo publico, desde el enlace publico de la tabla de airtable abrimos la imagen, pulsamos en el enlace de arriba para descargar la imagen y nos abrira una nueva pestaña, copiamos este enlace y lo pegamos en el editor de airtable en href y volvemos hacerlo publico.-->

<div class="col-12" id="Gaman">
  <br>
  <br>
  <h2 class="titulo-japon-2">Gaman</h2>
  <p class="titulotexto-sub-2">❝La perseverancia de continuar a pesar de la adversidad.❞</p>
  <p class="titulotexto">Siempre vamos a invertar excusas para no hacer algo, a veces incluso serán ciertas, pero la diferencia del éxito esta en la <strong>dedicación, puntualidad y disciplina</strong>. Estas son las titulaciones que he conseguido terminar desde el 2019 hasta el día de hoy, alguna de hasta 2.000 horas de duración, siempre intentando elegir las plataformas/profesores mas profesionales con los retos mas complejos.</p>



    <div class="bloque-titulaciones">
      <div class="col-12 col-lg-6 ">
          <img src="./media/gaman.png" alt="" class="gamanimg">
      </div>

      <div class="col-12 col-lg-6 " >
          
          <section v-if="errored">
            <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente más tarde...</p>
          </section>


          <section v-else>
            
            <div class="scroll-titulos">
              <ul>
                <li class="li-titulo titulotexto" v-if="!loading">Diplomaturas</li>
                <div v-if="loading" class="seccion-loader">
                  <img src="./media/loader.png" alt="" class="loaderimg">
                  <div class="loading titulotexto">Cargando...</div>
                </div>


              <div v-for="item of info">
                <div v-for="itemo of item.records">
                  <div v-for="itemi of 1">
                    <li>
                      <a class="texto-enlace titulotexto" v-if="itemo.fields.href" :href="itemo.fields.href" download="itemo.fields.href">{{itemo.fields.Status}}</a>
                      <a class="texto-enlace titulotexto" v-if="!itemo.fields.href & itemo.fields.Status" :href="!itemo.fields.URL" target="_blank">{{itemo.fields.Status}}</a>
                    </li> 
                  </div>
                </div>
              </div>

              </ul>
            </div>

          </section>

          <div class="bloque-titulaciones-2">
            <a class="texto-enlace titulotexto master" href="https://cei.es/cei-curso/master-de-diseno-grafico/" download="itemo.fields.href" target="blanck">Master en Diseño gráfico en la Cei.</a>
          </div>

        </div>  
    </div>
      


</div>













<!--3º Bloque-->
<div class="col-12" id="Komakai">
  <br>
  <br>
    <h2 class="titulo-japon-2">Komakai</h2>
    <p class="titulotexto-sub-2">❝La atención al detalle de lo apenas imperceptible.❞</p>
    <p class="titulotexto">
      Si se quiere ser el mejor hay que hacerlo de forma <strong>diligente</strong> y esto significa enfocarse estrategicamente en como y qué se quiere hacer para destacar entre el resto. Estos son los servicios en los que soy experto y me entrego con pasion y fanatismo para conseguir el trabajo mas profesional y diferenciador.   
    
    </p>


    <div class="col-12">



      <!--3º Bloque parte 1-->
      <div class="col-12 col-lg-4">
        <div class="bloque-individual">
          <img src="./media/komakai1.png" alt="" class="komakaiimg komakaiimg1">
          <br>
          <p class="titulotexto-sub-2">Diseño Web y App</p>
          <p class="titulotexto">
            Soy especialista en web y aplicaciones nativas, preferiblemente frontend, ya sea por Low Code o a medida, desde webs corporativas, web dinámicas o e-commerce. <strong>Soy un aprendiz incansable</strong> de Webflow, Make, Zapier, Flutter, Bubble, Airtable, Wized, Wordpress, Prestashop, PHP, Javascript, Typescript, MYSQL, Mariadb, Mongodb, Laravel, Vue.js, React.js, Swift, HTML, CSS, Bootstrap, Express.js, Composer, npm, git, JQuery, Node y otras muchas alternativas aplicadas a las necesidades de cada cliente incluyendo servidores.  

          </p>
          <p class="titulotexto">
            Si quieres hacer una web o una aplicación con lógica ademas de un buen diseño, no dudes en ponerte en <a href="#Kotodama"><strong>contacto conmigo</strong></a>, ¡Te sorprenderas!.  

          </p>
<!--
          <div class="divbotonsocial">
            <a @:click="modal=true" class="botonsocial titulotexto" target="_blank">
              ➳
            </a>
          </div>
-->
        <a class="col-12 titulotexto botonestatico " href="/diseño-web-y-app/">Ver servicios</a>


        </div>
      </div>



      <!--3º Bloque parte 2-->
      <div class="col-12 col-lg-4">
        <div class="bloque-individual">
          <img src="./media/komakai2.png" alt="" class="komakaiimg">
          <br>
          <p class="titulotexto-sub-2">Diseño Gráfico y SEO</p>
          <p class="titulotexto">
            En el diseño gráfico lo primero es crear un Briefing ajustando el servicio a las necesidades del cliente, el diseño gráfico es el trabajo que yo considero más notorio y que más me gusta hacer, <strong>el arte de un buen trabajo es el exito para dar la vienbenida a tu empresa</strong>, es por esto que ofrezco un servicio de calidad dirigiendo al cliente a las necesidades de los materiales gráficos; brandbook, branding, rebranding, concepto y diseño, papeléria, arte publicitario, multimedia, packaging, diseño de producto... 

          </p>

          <p class="titulotexto">
            Como profesional en técnologias <strong>comprendo la necesidad de la presencia digital</strong>, es por eso que ofrezco los servicios de SEO organico, OnPage, OffPage, de Competencia y Backlinks. 

          </p>
<!--
          <div class="divbotonsocial">
            <a href="https://www.crehana.com/users/japondesigner/" class="botonsocial titulotexto" target="_blank">
              ➳
            </a>
          </div>
-->
        <a class="col-12 titulotexto botonestatico " href="/diseño-grafico-y-seo/">Ver servicios</a>


        </div>
      </div>


      <!--3º Bloque parte 3-->
      <div class="col-12 col-lg-4">
        <div class="bloque-individual">
          <img src="./media/komakai3.png" alt="" class="komakaiimg">
          <br>
          <p class="titulotexto-sub-2">Paneles de arte flotante</p>
          <p class="titulotexto">
            El arte flotante o más conocido como <a v-on:click.ctrl="https://ukiyo-e.org/" target="_blank"><strong>Ukiyo-e</strong></a> es un género de arte japonés surgido en la ciudad de Edo que floreció entre formas y metodos de linealidades y colores monocromáticos, aunque el verdadero arte flotante se hacia en madera de cerezo por impresión en plancha con la técnica de xilografía acabo convirtiendose en tinta china y papel o sumi-e, manteniendo la misma técnica de dibujo. De esta forma el arte es mas directo y dedicado ya sea por que quieres tener un dibujo para un tatuaje unico o un cuadro del periodo Tokugawa y darle a tu negocio un toque poético/artístico.

          </p>

          <p class="titulotexto">
            <a href="#Kotodama"><strong>Contacta conmigo</strong></a> y elige entre panel de madera o tinta china y sumi-e, dependiendo de la necesidad distintiva.  

          </p>
<!--
          <div class="divbotonsocial">
            <a href="https://www.instagram.com/japondesigner/" class="botonsocial titulotexto" target="_blank">
              ➳
            </a>
          </div>
-->
          <a class="col-12 titulotexto botonestatico " href="https://www.instagram.com/japondesigner/" target="_blank">Ver Instagram</a>

        </div>
      </div>

    </div>
  </div>











    

<!--4º Bloque-->


<div class="col-12" id="Ganharu">
  <br>
  <br>
    <h2 class="titulo-japon-2">Ganharu</h2>
    <p class="titulotexto-sub-2">❝Dar todo lo que llevas dentro.❞</p>
    <p class="titulotexto">
      Es importante conocer las necesidades que quiere el cliente, incluyendo su historia y recorrido para <strong>marcar los objetivos</strong> en cada trabajo, dejando una huella condicionada por la visión de su empresa y a nivel técnico/artistico elegir las mejores skills para cada proyecto.

    </p>

<div class="bloque-gacharu">
  <div class="col-12 col-lg-6">
    <img src="./media/gahharu.png" alt="" class="imagenganharu">
  </div>
  
  <div class="col-12 col-lg-6  scroll-titulos2 ">
    <p class="li-titulo titulotexto" v-if="!loading">Trabajos</p>
      <section v-if="errored">
        <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente más tarde...</p>
      </section>


      <section v-else>

        <div v-if="loading" class="seccion-loader">
          <img src="./media/loader.png" alt="" class="loaderimg">
          <div class="loading titulotexto">Cargando...</div>
        </div>




        <!--Bloques de valores-->
          <div v-for="item of info">
            <div v-for="itemo of item.records">
              <div v-for="itemi of 1">

                  <div class="col-12">
                    <a :href="itemo.fields.URL" target="_blank">
                      <div class="bloque-individual-2">
                          <br>
                          <p class="titulotexto-sub-2" >

                            {{itemo.fields.titulo}}
                            <strong>
                              {{itemo.fields.categorias[0]}} 
                              <spam v-if="itemo.fields.categorias[1]">, {{itemo.fields.categorias[1]}}</spam>
                              <spam v-if="itemo.fields.categorias[2]">, {{itemo.fields.categorias[2]}}</spam>
                              <spam v-if="itemo.fields.categorias[3]">, {{itemo.fields.categorias[3]}}</spam>
                              <spam v-if="itemo.fields.categorias[4]">, {{itemo.fields.categorias[4]}}</spam>
                              <spam v-if="itemo.fields.categorias[5]">, {{itemo.fields.categorias[5]}}</spam> 
                              <spam v-if="itemo.fields.categorias[6]">, {{itemo.fields.categorias[6]}}</spam>
                              <spam v-if="itemo.fields.categorias[7]">, {{itemo.fields.categorias[7]}}</spam>
                              <spam v-if="itemo.fields.categorias[8]">, {{itemo.fields.categorias[8]}}</spam>
                              <spam v-if="itemo.fields.categorias[9]">, {{itemo.fields.categorias[9]}}</spam>
                              <spam v-if="itemo.fields.categorias[10]">, {{itemo.fields.categorias[10]}}</spam> 
                            </strong>
                            
                          </p>
                          <p class="titulotexto">
                            {{itemo.fields.texto}}
                            
                          </p>
                      </div>
                    </a>
                  </div>
               
              </div>  
          </div>
        
        </div>      
  </div>


</div>








<!--5º Bloque-->


<div class="col-12 " id="Kotodama">
  <br>
  <br> 
    <h2 class="titulo-japon-2">Kotodama</h2>
    <p class="titulotexto-sub-2">❝El alma que reside en las palabras.❞</p>
    <p class="titulotexto">
      Si tienes cualquier duda sobre mis servicios o quieres ponerte en contacto conmigo no dudes en mandarme un mensaje por el formulario o a <a href="mailto:info@japondesigner.com" class="titulotexto"><strong>info@japondesigner.com</strong></a>, te responderé <strong>enérgicamente</strong>.
    </p>
<div class="d-lg-flex flex-lg-row-reverse bloque-kotodama">
    <div class="col-12 col-lg-6"> 
      <img src="./media/kotodama.png" alt="" class="imagenkotodama">
    </div>


    <div class="col-12 col-lg-6 bloque-formulario"> 
      


        <form
          id="form"
          action="https://formspree.io/f/xbjbywvy"
          method="POST"
        >
          <label for="nombre" class="col-12 titulotexto">
            Nombre
          </label>
          <input type="text" name="Nombre" id="nombre" class="col-12 input">

          <label for="email" class="col-12 titulotexto">
            Email
          </label>
          <input type="email" name="email" id="email" class="col-12 input">

          <label for="mensaje" class="col-12 titulotexto">
            Mensaje
          </label>
          <textarea name="message" id="mensaje" class="col-12 inputtarea"></textarea>

           <!-- <div class="g-recaptcha" data-sitekey="6LcDP1oiAAAAAJ3JrqyGaP-gJ00f86pq1gQWe0eI" class="col-12"></div>-->

          <!-- your other form fields go here -->
          <button class="col-12 botonformulario g-recaptcha" 
          data-sitekey="6LddR2MiAAAAAOPAdJnX1rmO5OWi66dVFqRdqk6m" 
          data-callback='handleSubmit' 
          data-action='submit'>ENVIAR</button>
        </form>


    </div>


  </div>
  </div>
</div>














  
  


<!--6º Bloque-->


<div class="col-12" id="Agatsu">
  <br>
  <br>
    <h2 class="titulo-japon-2">Agatsu</h2>
    <p class="titulotexto-sub-2">❝La victoria sobre uno mismo.❞</p>
    <p class="titulotexto">
      He programado esta aplicación para que puedas hacer una aproximación del coste inicial de mis servicios. Ofrecer un <strong>trabajo profesional</strong> es lo que te diferenciará del resto.
    </p>
</div>





  <div class="col-12" id="app">

    <div class="col-12 col-lg-4">
      <div class="bloque-individual">
        <img src="./media/agatsu1.png" alt="" class="komakaiimg">
        <br>
        <p class="titulotexto-sub-2">Servicios aplicativos</p>

        <button v-on:click="weblandignpage" class="col-12 titulotexto" v-bind:Class="countweblandignpage % 2 == 0 ? 'botonoff' : 'botonon' ">Web Landing page</button>
        <button v-on:click="WebDinamica" class="col-12 titulotexto" v-bind:Class="countWebDinamica % 2 == 0 ? 'botonoff' : 'botonon' ">Web Dinámica</button>
        <button v-on:click="WebEcommerce" class="col-12 titulotexto" v-bind:Class="countWebEcommerce % 2 == 0 ? 'botonoff' : 'botonon' ">Web E-commerce</button>
        <button v-on:click="WebAmedida" class="col-12 titulotexto" v-bind:Class="countWebAmedida % 2 == 0 ? 'botonoff' : 'botonon' ">Web A medida</button>
        <button v-on:click="ycode" class="col-12 titulotexto" v-bind:Class="countycode % 2 == 0 ? 'botonoff' : 'botonon' ">Wordpress / ycode</button>
        <button v-on:click="SEOonPage" class="col-12 titulotexto" v-bind:Class="countSEOonPage % 2 == 0 ? 'botonoff' : 'botonon' ">SEO onPage</button>
        <button v-on:click="GoogleAnalytics" class="col-12 titulotexto" v-bind:Class="countGoogleAnalytics % 2 == 0 ? 'botonoff' : 'botonon' ">Google Analytics</button>
        <button v-on:click="App" class="col-12 titulotexto" v-bind:Class="countApp % 2 == 0 ? 'botonoff' : 'botonon' ">App</button>
        <button v-on:click="email" class="col-12 titulotexto" v-bind:Class="countemail % 2 == 0 ? 'botonoff' : 'botonon' ">Email</button>
        <button v-on:click="servidor" class="col-12 titulotexto" v-bind:Class="countservidor % 2 == 0 ? 'botonoff' : 'botonon' ">Servidor</button>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="bloque-individual">
        <img src="./media/agatsu2.png" alt="" class="komakaiimg">
        <br>
        <p class="titulotexto-sub-2">Servicios de diseño gráfico y marketing</p>

        <button v-on:click="SEOdecompetencia" class="col-12 titulotexto" v-bind:Class="countSEOdecompetencia % 2 == 0 ? 'botonoff' : 'botonon' ">SEO de competencia, offPage y backlinks</button>
        <button v-on:click="BrandBook" class="col-12 titulotexto" v-bind:Class="countBrandBook % 2 == 0 ? 'botonoff' : 'botonon' ">BrandBook</button>
        <button v-on:click="Branding" class="col-12 titulotexto" v-bind:Class="countBranding % 2 == 0 ? 'botonoff' : 'botonon' ">Branding o rebranding</button>
        <button v-on:click="Papeleria" class="col-12 titulotexto" v-bind:Class="countPapeleria % 2 == 0 ? 'botonoff' : 'botonon' ">Papelería</button>
        <button v-on:click="Artepublicitario" class="col-12 titulotexto" v-bind:Class="countArtepublicitario % 2 == 0 ? 'botonoff' : 'botonon' ">Arte publicitario</button>
        <button v-on:click="Ediciondevideo" class="col-12 titulotexto" v-bind:Class="countEdiciondevideo % 2 == 0 ? 'botonoff' : 'botonon' ">Edición de video</button>
        <button v-on:click="Packaging" class="col-12 titulotexto" v-bind:Class="countPackaging % 2 == 0 ? 'botonoff' : 'botonon' ">Packaging</button>
        <button v-on:click="disenodelogo" class="col-12 titulotexto" v-bind:Class="countdisenodelogo % 2 == 0 ? 'botonoff' : 'botonon' ">diseño de logo</button>
        <button v-on:click="Ukiyo" class="col-12 titulotexto" v-bind:Class="countUkiyo % 2 == 0 ? 'botonoff' : 'botonon' ">Dibujo Ukiyo-e</button>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="bloque-individual">
        <img src="./media/agatsu3.png" alt="" class="komakaiimg">
        <br>
        <p class="titulotexto-sub-2">Precio desde...</p>
    
          <p class="precio titulotexto">{{total}}<spam class="precioeuro titulotexto">€<spam class="precioanual titulotexto">  /Pago unico</spam></spam></p>

          <p v-if="totalmes != 0" class="pagomensual titulotexto" >{{totalmes}}€<spam class="precioanual titulotexto">  /Pago mensual</spam></p>
     
        <ul class="bloqueaparece">
          <li class="puntos" v-if="countweblandignpage % 2 != 0 "><p class="titulotextoprecio">Web landing page con un menú de dirección entre anclas, formulario, header, footer, backlinks, aviso de cookies, políticas legales y dirección de empresa para diseño web. </p></li>
          <li class="puntos" v-if="countWebDinamica % 2 != 0 "><p class="titulotextoprecio">Web dinámica desde cambios reactivos en la web hasta peticiones con base de datos, google sheet, MongoDb, etc. Para que el cliente pueda hacer cambios de valores desde la db.</p></li>
          <li class="puntos" v-if="countWebEcommerce % 2 != 0 "><p class="titulotextoprecio">Web con catalogo de productos, login con cuentas para usuarios, pagos recurrentes, venta de productos virtuales o fisicos enlazados al banco del cliente con distintas pasarelas de pagos. </p></li>
          <li class="puntos" v-if="countWebAmedida % 2 != 0 "><p class="titulotextoprecio">Cualquier tipo de web; landing-page, dinámicas o e-commerce. Construidas a código para un diseño lógico/artistico más enfocado en la distinción del cliente. </p></li>
          <li class="puntos" v-if="countycode % 2 != 0 "><p class="titulotextoprecio">Web construida con Wordpress o ycode, ya sea una landing-page, dinámicas o e-commerce. En los dos casos se trabajará con un maquetador a la vez que con código a medida, enlazandolo a la necesidad de cada proyecto. </p></li>
          <li class="puntos" v-if="countSEOonPage % 2 != 0 "><p class="titulotextoprecio">SEO orientado a la página que estamos contruyendo o una página que ya ha sido creada pero no tiene SEO onPage. </p></li>
          <li class="puntos" v-if="countGoogleAnalytics % 2 != 0 "><p class="titulotextoprecio">Instalación y orientación de Google Analytics en página web, "Quien mejor para dar orientación que alguien matriculado en Google". </p></li>
          <li class="puntos" v-if="countApp % 2 != 0 "><p class="titulotextoprecio">Aplicación nativa a medida o por lowCode con instalación a travez de PlayStore AppleStore o QR, con opción de cambios a traves de una base de datos.</p></li>
          <li class="puntos" v-if="countemail % 2 != 0 "><p class="titulotextoprecio">Instalación y configuración de email corporativo mapeada a la cuenta de gmail, más diseño de firma de correos con la opción de QR.</p></li>
          <li class="puntos" v-if="countservidor % 2 != 0 "><p class="titulotextoprecio">Instalación y configuración de email corporativo mapeada a la cuenta de gmail, más diseño de firma de correos con la opción de QR.</p></li>

          <li class="puntos" v-if="countSEOdecompetencia % 2 != 0 "><p class="titulotextoprecio">Orientación, mantenimiento e instalación de interfaz a medida con conexion instantanea de todas las opciones SEO: offPage, de competencias, Backlinks, organico y guia sobre el onPage. </p></li>
          <li class="puntos" v-if="countBrandBook % 2 != 0 "><p class="titulotextoprecio">Guia para definir los elementos visuales y verbales que cornforman la identidad de marca. Comenzando por el Buyer y respondiendo preguntas como ¿Qué? ¿Cómo? y ¿Por qué?  </p></li>
          <li class="puntos" v-if="countBranding % 2 != 0 "><p class="titulotextoprecio">Construir la identidad de marca sobre elementos caracteristicos como una taza, camisa de trabajo, un boligrafo, etc. A veces recreando el diseño para distintos formatos. </p></li>
          <li class="puntos" v-if="countPapeleria % 2 != 0 "><p class="titulotextoprecio">Encargo y diseño de cartas, tarjetas de visita, flyers, sellos, facturas, sobres, carpetas... </p></li>
          <li class="puntos" v-if="countArtepublicitario % 2 != 0 "><p class="titulotextoprecio">Redirigir a los usuarios del cliente hacia un enfoque publicitario impactante para un target determinado. </p></li>
          <li class="puntos" v-if="countEdiciondevideo % 2 != 0 "><p class="titulotextoprecio">Es importante conocer la importancia de un video profesional, ya sea para redes sociales, web, publicitarios...  </p></li>
          <li class="puntos" v-if="countPackaging % 2 != 0 "><p class="titulotextoprecio">Es la forma que mas identifica la marca dentro de los productos contenedores, entre ellos los más habituales son los envases, envoltorios, etiquetados de productos comerciales... </p></li>
          <li class="puntos" v-if="countdisenodelogo % 2 != 0 "><p class="titulotextoprecio">Diseño vectorial enfocado exclusivamente en el logo de la empresa con distintos formatos para la adaptabilidad del branding </p></li>
          <li class="puntos" v-if="countUkiyo % 2 != 0 "><p class="titulotextoprecio">Los dibujos de Ukiyo-e pueden ir desde un pequeño dibujo personalizado por ejemplo para un tatuaje o un libro de tatuador, hasta un cuadro o un diseño unico de arte flotante para tarjetas de visita (como es mi caso).  </p></li>

        </ul>
  
      </div>
    </div>
  </div>

    <img src="./media/LOGOS-02.svg" alt="" class="logojapondesigner">




    








  <!--FOOTER-->


<p class="titulotexto col-12">Esta web está hecha con <strong>愛</strong> por japondesigner.</p>


    <!--CDN de Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>

    <!--CDN de Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--Bloques javascript de Vue-->
    <script src="js/App.js"></script>
    <script src="js/Gaman.js"></script>
    <script src="js/Ganharu.js"></script>
    <script src="js/Komakai.js"></script>

    <!--Bloque form -->
    <script async src="https://tally.so/widgets/embed.js"></script>

    <script>
      const $form = document.querySelector('#form');
      $form.addEventListener('submit', handleSubmit)

      async function handleSubmit(event){
        event.preventDefault()

          
        const form = new FormData(this)
          const response = await fetch(this.action, {
          method:this.method,
          body:form,
          headers:{
            'Accept': 'application/json'
          }
        })

        if(response.ok ){this.reset()}
          
        
      
      }



      function onSubmit(token) {
     document.getElementById("form").submit();
   }
    </script>


    <!--recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>

  </div>
  </body>
  </body>
</html>
