
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>japondesigner</title>
    <link rel="icon" type="image/x-icon" href="../media/favicon.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>

    <div class="container-fluid">

      
      <ul class="nav col-12">
        <li><a class="titulotexto">J</a></li>
        <li><a  class="titulotexto">A</a></li>
        <li><a class="titulotexto">P</a></li>
        <li><a href="#Kotodama"><div id="o"></div> </a></li>
        <li><a class="titulotexto">N</a></li>
        <li><a class="titulotexto">D</a></li>
        <li><a class="titulotexto">E</a></li>
        <li><a class="titulotexto">S</a></li>
        <li><a class="titulotexto">I</a></li>
        <li><a class="titulotexto">G</a></li>
        <li><a class="titulotexto">N</a></li>
        <li><a class="titulotexto">E</a></li>
        <li><a class="titulotexto">R</a></li>
      </ul>

  </div>
    <div class="container">











<!--1º Bloque-->

  <div class="col-12 d-lg-flex flex-lg-row-reverse" id="kaizen">
    <br>
    <br>

    <div class="col-12 col-lg-6 " >
      <img src="../media/COLOR.png" alt="" class="imagenkaizen">
    </div>
     
  <div class="col-12 col-lg-6 ">
  <p class="titulotexto" id="separacion-imagen">Empezaré por decir que me considero un diseñador de experiencias...</p>
  <h1 class="titulo-japon">MITATE</h1>
  <p class="titulotexto-sub">❝Construir una visión.❞</p>

  <p class="titulotexto">Todos hemos visto alguna vez una película japonesa de maestro y aprendiz, en la que uno de los aprendices termina dedicando todo su tiempo y esfuerzo para entender un concepto con el que salva Japón de unos ninjas. En el diseño ocurre lo mismo, todos tenemos un ordenador en nuestra casa pero eso no nos convierte en diseñadores.</p>
  <p class="titulotexto">El diseño es como el aprendiz, <strong>por cada enseñanza</strong> hay que dedicar todo tu tiempo, afecto, conocimiento y sensibilidad para profesionalizar el gusto hasta convertirse en un diseñador maestro.</p>
</div>


    <div >

 
    </div>
  </div>

<br>










<!--2º Bloque-->
<!--subimos la imagen a airtable, le damos a share para hacerlo publico, desde el enlace publico de la tabla de airtable abrimos la imagen, pulsamos en el enlace de arriba para descargar la imagen y nos abrira una nueva pestaña, copiamos este enlace y lo pegamos en el editor de airtable en href y volvemos hacerlo publico.-->

<div class="col-12" id="Gaman">
  <br>
  <br>
  <h2 class="titulo-japon-2">Sakurafubuki</h2>
  <p class="titulotexto-sub-2">❝La lluvia de pétalos de la flor del cerezo japones.❞</p>
  <p class="titulotexto">Siempre vamos a invertar excusas para no hacer algo, a veces incluso serán ciertas, pero la diferencia del éxito esta en la <strong>dedicación, puntualidad y disciplina</strong>. Estas son las titulaciones que he conseguido terminar desde el 2019 hasta el día de hoy, alguna de hasta 2.000 horas de duración, siempre intentando elegir las plataformas/profesores mas profesionales con los retos mas complejos.</p>


   
    <div class="bloque-titulaciones">
      <div class="col-12 col-lg-6 ">
          <img src="../media/gaman.png" alt="" class="gamanimg">
      </div>

      <div class="col-12 col-lg-6 " >
          
          <section v-if="errored">
            <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente más tarde...</p>
          </section>


          <section v-else>
            
            <div class="scroll-titulos">
              <ul>
                <li class="li-titulo titulotexto" v-if="!loading">Diplomaturas</li>
                <div v-if="loading" class="seccion-loader">
                  <img src="../media/loader.png" alt="" class="loaderimg">
                  <div class="loading titulotexto">Cargando...</div>
                </div>


              <div v-for="item of info">
                <div v-for="itemo of item.records">
                  <div v-for="itemi of 1">
                    <li>
                      <a class="texto-enlace titulotexto" v-if="itemo.fields.href" :href="itemo.fields.href" download="itemo.fields.href">{{itemo.fields.Status}}</a>
                      <a class="texto-enlace titulotexto" v-if="!itemo.fields.href & itemo.fields.Status" :href="!itemo.fields.URL" target="_blank">{{itemo.fields.Status}}</a>
                    </li> 
                  </div>
                </div>
              </div>

              </ul>
            </div>

          </section>

          <div class="bloque-titulaciones-2">
            <a class="texto-enlace titulotexto master" href="https://cei.es/cei-curso/master-de-diseno-grafico/" download="itemo.fields.href" target="blanck">Master en Diseño gráfico en la Cei.</a>
          </div>

        </div>  
      </div>
      


</div>






    








  <!--FOOTER-->


<p class="titulotexto col-12">Esta web está hecha con <strong>愛</strong> por Isaac Navajas Pozo.</p>


    <!--CDN de Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>

    <!--CDN de Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--Bloques javascript de Vue-->
    <script src="js/App.js"></script>
    <script src="js/Gaman.js"></script>
    <script src="js/Ganharu.js"></script>
    <script src="js/Komakai.js"></script>

    <!--Bloque form -->
    <script async src="https://tally.so/widgets/embed.js"></script>

    
  </div>
  </body>
  </body>
</html>
